#about
    padding: 100px 0
    img
        width: 100%
    .textbox
        h1
            font-size: 50px
            font-weight: 700
        h3
            color: #9e9e9e
            font-size: 20px
            padding: 20px 0 75px
    .box
        display: flex
        padding-bottom: 120px
        .minibox
            width: 43%
            display: flex
            justify-content: flex-start
        .textbox
            width: 80%
            padding: 20px 20px 20px 28px
            h2
                font-size: 30px
                font-weight: 700
            p
                font-size: 18px
                line-height: 1.2
        .imgbox
            width: 150px
            height: 150px
            border-radius: 100%
            border: 8px solid #f1f1f1
        .different
            display: flex
            justify-content: flex-end
    .yellow
        width: 150px
        height: 150px
        background-color: #ffc800
        border-radius: 100%
        padding: 27px
        transform: translate( 550px , 0 )
        border: 8px solid #ffe8e8
        h4
            font-size: 25px
            font-weight: 600
            color: #ffff

    @media screen and ( max-width: 992px )
        .textbox
            h1
                font-size: 60px
            h3
                font-size: 25px
        .box
            .textbox
                width: 360px
                h2
                    font-size: 30px
                    line-height: 1.2
                p
                    font-size: 20px
                    line-height: 1.3
        .yellow
            width: 150px
            height: 150px
            background-color: #ffc800
            border-radius: 100%
            padding: 30px
            transform: translate( 390px , 0 )
            h4
                font-weight: 700

    @media screen and ( max-width: 768px )
        .textbox
            h1
                font-size: 50px
            h3
                font-size: 20px
        .box
            .textbox
                width: 320px
                h2
                    font-size: 22px
                p
                    font-size: 20px
                    color: #6c757d
                    line-height: 1.3
            .imgbox
                width: 120px
                height: 120px
                border-radius: 100%
                margin: 0 0 0 20px
        .yellow
            width: 130px
            height: 130px
            padding: 19px
            transform: translate( 280px , 0 )

    @media ( max-width: 576px )
        padding: 50px 0
        .textbox
            h1
                font-size: 50px
            h3
                font-size: 20px
        .box
            display: flex
            flex-direction: row-reverse
            padding-bottom: 120px
            justify-content: center
            .minibox
                width: 100%
                display: flex
                justify-content: flex-start
            .textbox
                h2
                    font-size: 25px
                    text-align: start
                p
                    font-size: 20px
                    text-align: start
            .imgbox
                width: 100px
                height: 100px
                margin: 0 0 0 20px
            .different
                margin: 0 
        .yellow
            width: 100px
            height: 100px
            padding: 13px
            transform: translate( 20px , 0 )
            h4
                font-size: 20px
                font-weight: 700

    @media screen and ( max-width: 320px )
        .box
            .textbox
                width: 210px