#contactus
    margin: 70px 0 0
    background-image: url("A.Assets/map-image.png")
    background-color: #212529
    height: 690px
    .textbox
        display: flex
        flex-direction: column
        margin: 50px 0 0
        text-align: center
        h1
            font-size: 50px
            color: #ffff
        h4
            color: #8f9193
            font-size: 20px
    .box
        padding-top: 80px
        input
            display: flex
            align-items: center
            width: 630px
            height: 65px
            margin-bottom: 30px
    .box2
        padding-top: 78px
        textarea
            max-height: 260px
            border-radius: 5px
            cursor: initial 
    .btn
        width: 271px
        height: 70px
        background-color: #ffc800
        h3  
            font-size: 25px
            color: #ffff
            padding-top: 10px
    
    @media screen and ( max-width: 768px )
        width: 1327px