footer
    padding: 30px 0 10px
    .box
        margin: 0 140px
        .minibox
            h1,h2,h3
                font-size: 19px
            h2
                padding-right: 15px
            .icon
                i
                    padding: 13px
                    font-size: 15px
                    width: 38px
                    height: 38px
                    background-color: #212529
                    color: #ffff
                    border-radius: 100px
                    margin: 0 10px
                    cursor: pointer
