footer
    padding: 30px 0 10px
    h1
        font-size: 17px
        &:hover
            cursor: initial
    .icon
        i
            padding: 13px 
            font-size: 15px
            width: 38px
            height: 38px
            background-color: #212529
            color: #ffff
            border-radius: 100px
            margin: 0 10px
            cursor: pointer
            &:hover
                background-color: #8f9090
    h2,h3
        font-size: 17px
        padding-right: 10px
        &:hover
            cursor: pointer


    @media screen and ( max-width: 768px )
        .icon
            margin: 20px 0