#logo
    padding: 55px 0 50px
    .imgbox
        width: 170px
    .google
        width: 140px
    .ibm
        width: 110px
    img
        cursor: initial
        &:hover
            cursor: pointer
