#logo
    padding: 55px 0 50px
    display: flex
    align-items: center
    .imgbox
        width: 170px
    .google
        width: 140px
    .ibm
        width: 110px

    @media screen and ( max-width: 576px )
        .ibm
            margin-top: 10px
