#logo
    padding: 100px 0 50px
    .imgbox
        width: 170px
    .google
        width: 140px
    .ibm
        width: 110px


    @media screen and ( max-width: 576px )
        .ibm
            margin-top: 10px