#portfolio
    img
        width: 100%
    h1
        font-weight: 700
        font-size: 60px
    h4
        font-size: 20px
        color: #545252
        margin: 20px 0 50px
    .textbox
        h2
            font-weight: 700
            font-size: 30px
            margin-top: -100px
        h3
            color: #545252
            margin: 10px 0 50px
            font-size: 20px
    .imgbox
        width: 450px
        height: 450px
        padding-right: 30px
