#portfolio
    h1
        font-weight: 700
        font-size: 60px
    h4
        font-size: 20px
        color: #545252
        margin: 20px 0 50px

    .textbox
        h2
            font-weight: 700
            font-size: 30px
            margin-top: 10px
        h3
            color: #545252
            margin: 10px 0 50px
            font-size: 20px
