#services
    padding: 150px 0
    h1
        font-size: 50px
        padding-bottom: 20px
        font-weight: 700
    h3
        font-size: 20px
        color: #555454
        padding-bottom: 90px
    .box
        text-align: center
        .icon
            background-color: #fabb01
            width: 130px
            height: 130px
            border-radius: 100%
            padding: 35px 20px
            margin: auto
            margin-bottom: 15px
            i
                font-size: 65px
                color: #ffff
    .textbox
        text-align: center
        h2
            font-size: 30px
            padding-bottom: 20px
            font-weight: 700
        p
            font-size: 20px
            color: #555454
            line-height: 1.3

    @media screen and ( max-width: 992px )
        padding: 100px 0
        h1
            font-size: 50px
        h3
            font-size: 20px
            padding-bottom: 60px
        .box
            .icon
                width: 120px
                height: 120px
                padding: 30px 20px
        .textbox
            h2
                font-size: 25px
            p
                font-size: 18px
                line-height: 1.2

    @media screen and ( max-width: 768px )
        padding: 95px 0
        h1
            font-size: 45px
        .textbox
            h2
                font-weight: 700
            p
                font-size: 19px
                line-height: 1.5

    @media screen and ( max-width: 576px )
        padding: 100px 0
        h1
            font-size: 45px
        .box
            display: flex
            justify-content: center
        .textbox
            h2
                font-size: 30px
                font-weight: 700
            p
                font-size: 19px
                line-height: 1.5
                margin-bottom: 20px
