#services
    padding: 150px 0
    h1
        font-size: 50px
        padding-bottom: 20px
        font-weight: 700
    h3
        font-size: 20px
        color: #555454
        padding-bottom: 90px
    .box
        text-align: center
        .icon
            background-color: #fabb01
            width: 130px
            height: 130px
            border-radius: 100px
            padding: 35px 20px
            margin: 0 0 15px 140px
            i
                font-size: 65px
                color: #ffff
        .textbox
            width: 415px
            margin-left: 4px
            padding-bottom: 100px
            h2
                font-size: 25px
                padding-bottom: 20px
                font-weight: 700
            p

                font-size: 20px
                color: #555454
                line-height: 1

    @media screen and ( max-width: 1277px )
        width: 1225px
