#welcome
    display: flex
    .imgbox
        background-position: center center
    .box
        position: absolute
        transform: translate(320px , 280px)
        width: 900px
        text-align: center
        h1
            color: #ffff
            font-size: 55px
            padding-bottom: 35px
        h2
            color: #ffff
            font-size: 85px
            padding-bottom: 35px
        .btn
            width: 200px
            height: 60px
            background-color: #e2bb0f
            padding: 13px 0 0 5px
            h3
                color: #ffff
                font-size: 20px
                font-weight: 700
