#welcome
    background-image: url("A.Assets/header-bg.jpg")
    background-color: #cccccc
    height: 750px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    .box
        text-align: center
        margin-top: 245px
        h1
            color: #ffff
            font-size: 55px
            padding-bottom: 35px
        h2
            color: #ffff
            font-size: 95px
            padding-bottom: 35px
        h1,h2
            cursor: initial
        .btn
            padding: 20px 60px
            background-color: #ffc800
            &:hover
                background-color: #edc200
            h3
                color: #fff
                font-size: 25px
                font-weight: 700
                cursor: default
                &:hover
                    cursor: pointer
    @media screen and ( max-width: 1277px )
        width: 1225px

    @media screen and ( max-width: 768px )
        background-image: url("A.Assets/header-bg.jpg")
        height: 180vh
        .box
            margin-top: 330px
            h1
                font-size: 75px
                padding-bottom: 40px
            h2
                font-size: 140px
                padding-bottom: 110px
            .btn
                padding: 25px 85px
                h3
                    font-size: 30px
    @media screen and ( max-width: 320px )
        background-image: url("A.Assets/header-bg.jpg")
        height: 300vh
        padding-top: 128px
        .box
            margin-top: 500px
            h1
                font-size: 110px
                padding-bottom: 40px
            h2
                font-size: 230px
                padding: 0 67px 130px 
            .btn
                padding: 50px 125px
                h3
                    font-size: 85px
