body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}

#welcome {
  background-image: url("A.Assets/header-bg.jpg");
  background-color: #cccccc;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}
#welcome .box {
  position: absolute;
  transform: translate(220px, 270px);
  width: 900px;
  text-align: center;
}
#welcome .box h1 {
  color: white;
  font-size: 55px;
  padding-bottom: 35px;
}
#welcome .box h2 {
  color: white;
  font-size: 95px;
  padding-bottom: 35px;
}
#welcome .box .btn {
  width: 200px;
  height: 60px;
  background-color: #fdd834;
  padding: 13px 0 0 5px;
}
#welcome .box .btn:hover {
  background-color: #edc200;
}
#welcome .box .btn h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: default;
}
#welcome .box .btn h3:hover {
  cursor: pointer;
}

#services {
  padding: 150px 0;
}
#services h1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: 700;
}
#services h3 {
  font-size: 20px;
  color: #555454;
  padding-bottom: 90px;
}
#services .box {
  text-align: center;
}
#services .box .icon {
  background-color: #fabb01;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  padding: 35px 20px;
  margin: 0 0 15px 140px;
}
#services .box .icon i {
  font-size: 65px;
  color: white;
}
#services .box .textbox {
  width: 415px;
  margin-left: 4px;
  padding-bottom: 100px;
}
#services .box .textbox h2 {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 700;
}
#services .box .textbox p {
  font-size: 20px;
  color: #555454;
  line-height: 1;
}

#portfolio img {
  width: 100%;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 60px;
}
#portfolio h4 {
  font-size: 20px;
  color: #545252;
  margin: 20px 0 50px;
}
#portfolio .textbox h2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: -100px;
}
#portfolio .textbox h3 {
  color: #545252;
  margin: 10px 0 50px;
  font-size: 20px;
}
#portfolio .imgbox {
  width: 450px;
  height: 450px;
  padding-right: 30px;
}

#about {
  padding: 100px 0;
}
#about img {
  width: 100%;
}
#about .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#about .textbox h3 {
  color: #9e9e9e;
  font-size: 20px;
  padding: 20px 0 75px;
}
#about .box {
  display: flex;
  padding-bottom: 120px;
}
#about .box .textbox {
  width: 550px;
  padding: 20px 20px 20px 28px;
}
#about .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about .box .textbox p {
  font-size: 19px;
  line-height: 0.9;
}
#about .box .imgbox {
  margin: 0 400px 0 20px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
#about .box .diff {
  margin: 0 30px 0 20px;
}
#about .yel {
  width: 150px;
  height: 150px;
  background-color: #dde811;
  border-radius: 100px;
  padding: 46px;
  margin-left: 560px;
}
#about .yel h4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

#logo {
  padding: 50px;
}

header {
  position: fixed;
  background-color: #212529;
  padding: 20px 0;
  width: 1540px;
  z-index: 2;
}
header .imgbox {
  width: 150px;
  margin-left: 50px;
}
header nav a {
  color: white;
  font-size: 20px;
  margin-right: 40px;
  cursor: default;
}
header nav a:hover {
  cursor: pointer;
  color: #edc01c;
}/*# sourceMappingURL=style.css.map */