body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}

#welcome {
  background-image: url("A.Assets/header-bg.jpg");
  background-color: #cccccc;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#welcome .box {
  text-align: center;
  margin-top: 245px;
}
#welcome .box h1 {
  color: white;
  font-size: 55px;
  padding-bottom: 35px;
}
#welcome .box h2 {
  color: white;
  font-size: 95px;
  padding-bottom: 35px;
}
#welcome .box h1, #welcome .box h2 {
  cursor: initial;
}
#welcome .box .btn {
  padding: 20px 60px;
  background-color: #ffc800;
}
#welcome .box .btn:hover {
  background-color: #edc200;
}
#welcome .box .btn h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  cursor: default;
}
#welcome .box .btn h3:hover {
  cursor: pointer;
}
@media screen and (max-width: 1277px) {
  #welcome {
    width: 1225px;
  }
}
@media screen and (max-width: 768px) {
  #welcome {
    background-image: url("A.Assets/header-bg.jpg");
    height: 180vh;
    width: 1327px;
  }
  #welcome .box {
    margin-top: 330px;
  }
  #welcome .box h1 {
    font-size: 75px;
    padding-bottom: 40px;
  }
  #welcome .box h2 {
    font-size: 140px;
    padding-bottom: 110px;
  }
  #welcome .box .btn {
    padding: 25px 85px;
  }
  #welcome .box .btn h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  #welcome {
    background-image: url("A.Assets/header-bg.jpg");
    height: 300vh;
    padding-top: 128px;
  }
  #welcome .box {
    margin-top: 500px;
  }
  #welcome .box h1 {
    font-size: 110px;
    padding-bottom: 40px;
  }
  #welcome .box h2 {
    font-size: 230px;
    padding: 0 67px 130px;
  }
  #welcome .box .btn {
    padding: 50px 125px;
  }
  #welcome .box .btn h3 {
    font-size: 85px;
  }
}

#services {
  padding: 150px 0;
}
#services h1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: 700;
}
#services h3 {
  font-size: 20px;
  color: #555454;
  padding-bottom: 90px;
}
#services .box {
  text-align: center;
}
#services .box .icon {
  background-color: #fabb01;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  padding: 35px 20px;
  margin: 0 0 15px 140px;
}
#services .box .icon i {
  font-size: 65px;
  color: white;
}
#services .textbox {
  width: 415px;
  padding-bottom: 100px;
  text-align: center;
}
#services .textbox h2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 700;
}
#services .textbox p {
  font-size: 20px;
  color: #555454;
  line-height: 1.3;
}
@media screen and (max-width: 1277px) {
  #services {
    width: 1225px;
  }
}
@media screen and (max-width: 1024px) {
  #services {
    padding: 120px 0 100px;
  }
  #services h1 {
    font-size: 55px;
  }
  #services h3 {
    font-size: 23px;
  }
  #services .box {
    max-width: 320px;
  }
  #services .box .icon {
    width: 150px;
    height: 150px;
    padding: 47px 20px;
    margin: 0 0 15px 65px;
  }
  #services .box .icon i {
    font-size: 65px;
    color: white;
  }
  #services .box .df {
    margin: 0 100px 15px 65px;
  }
  #services .textbox {
    width: 275px;
  }
  #services .textbox h2 {
    font-size: 25px;
  }
  #services .textbox p {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  #services {
    padding: 120px 0 150px;
    height: 170vh;
    width: 1327px;
  }
  #services h1 {
    font-size: 65px;
  }
  #services h3 {
    font-size: 30px;
  }
  #services .box .icon {
    width: 190px;
    height: 190px;
    padding: 63px 20px;
    margin: 0 0 15px;
  }
  #services .box .icon i {
    font-size: 75px;
    color: white;
  }
  #services .box .df {
    margin: 0 100px 15px 0;
  }
  #services .textbox {
    width: 200px;
  }
  #services .textbox h2 {
    font-size: 35px;
  }
  #services .textbox p {
    font-size: 30px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 320px) {
  #services {
    max-width: 1320px;
    padding: 150px 0;
    height: 650vh;
  }
  #services h1 {
    font-size: 180px;
    padding-bottom: 50px;
  }
  #services h3 {
    font-size: 73px;
    padding-bottom: 280px;
  }
  #services .box .icon {
    width: 480px;
    height: 480px;
    padding: 135px 20px;
    margin: 0 0 35px 370px;
    border-radius: 100%;
  }
  #services .box .icon i {
    font-size: 230px;
  }
  #services .textbox {
    width: 100%;
  }
  #services .textbox h2 {
    font-size: 105px;
    padding-bottom: 60px;
  }
  #services .textbox p {
    font-size: 70px;
    line-height: 1.5;
  }
}

#portfolio {
  background-color: #f7f7f7;
}
#portfolio img {
  width: 100%;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 60px;
}
#portfolio h4 {
  font-size: 20px;
  color: #545252;
  margin: 20px 0 50px;
}
#portfolio .textbox h2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: -100px;
}
#portfolio .textbox h3 {
  color: #545252;
  margin: 10px 0 50px;
  font-size: 20px;
}
#portfolio .imgbox {
  background-color: white;
  width: 450px;
  height: 450px;
  padding-right: 30px;
}
@media screen and (max-width: 1024px) {
  #portfolio {
    width: 1225px;
  }
  #portfolio h1 {
    font-size: 63px;
  }
  #portfolio h4 {
    font-size: 23px;
  }
  #portfolio .textbox h2 {
    font-size: 33px;
  }
  #portfolio .textbox h3 {
    font-size: 23px;
  }
  #portfolio .imgbox {
    width: 360px;
    height: 380px;
    padding-right: 2px;
  }
}
@media screen and (max-width: 768px) {
  #portfolio {
    width: 1327px;
  }
}
@media screen and (max-width: 320px) {
  #portfolio h1 {
    font-size: 210px;
  }
  #portfolio h4 {
    font-size: 80px;
    margin: 75px 0 170px;
  }
  #portfolio .textbox h2 {
    font-size: 100px;
    margin-top: 45px;
  }
  #portfolio .textbox h3 {
    font-size: 70px;
  }
  #portfolio .imgbox {
    width: 100%;
    height: 70%;
    display: flex;
  }
}

#about {
  padding: 100px 0;
}
#about img {
  width: 100%;
}
#about .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#about .textbox h3 {
  color: #9e9e9e;
  font-size: 20px;
  padding: 20px 0 75px;
}
#about .box {
  display: flex;
  padding-bottom: 120px;
}
#about .box .textbox {
  width: 550px;
  padding: 20px 20px 20px 28px;
}
#about .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about .box .textbox p {
  font-size: 19px;
  line-height: 0.9;
}
#about .box .imgbox {
  margin: 0 400px 0 20px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 8px solid #f1f1f1;
}
#about .box .diff {
  margin: 0 30px 0 20px;
}
#about .yel {
  width: 150px;
  height: 150px;
  background-color: #ffc800;
  border-radius: 100px;
  padding: 27px;
  margin-left: 560px;
  border: 8px solid #ffe8e8;
}
#about .yel h4 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
@media screen and (max-width: 1024px) {
  #about {
    width: 1225px;
  }
  #about .textbox h1 {
    font-size: 60px;
  }
  #about .textbox h3 {
    font-size: 25px;
  }
  #about .box .textbox {
    width: 360px;
  }
  #about .box .textbox h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  #about .box .textbox p {
    font-size: 23px;
    line-height: 1.3;
  }
  #about .yel {
    width: 180px;
    height: 180px;
    background-color: #ffc800;
    border-radius: 100%;
    padding: 46px;
    margin-left: 370px;
  }
  #about .yel h4 {
    font-size: 25px;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  #about {
    height: 380vh;
    width: 1327px;
  }
  #about .box {
    transform: translate(-134px, 100px);
  }
  #about .box .textbox {
    width: 374px;
    padding: 20px 20px 20px -15px;
  }
  #about .box .textbox h2 {
    font-size: 40px;
  }
  #about .box .textbox p {
    font-size: 25px;
  }
  #about .box .imgbox {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 0 0 20px;
  }
  #about .val {
    transform: translate(98px, 100px);
  }
  #about .yel {
    width: 150px;
    height: 150px;
    padding: 30px;
    margin-left: 392px;
  }
}
@media screen and (max-width: 320px) {
  #about {
    height: 1050vh;
    width: 1230px;
    padding: 150px 0;
  }
  #about .textbox h1 {
    font-size: 180px;
  }
  #about .textbox h3 {
    font-size: 75px;
    width: 1150px;
  }
  #about .box {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 120px;
    justify-content: center;
  }
  #about .box .textbox {
    width: 635px;
    padding: 20px 20px 20px 28px;
  }
  #about .box .textbox h2 {
    font-size: 80px;
    text-align: start;
  }
  #about .box .textbox p {
    font-size: 70px;
    text-align: start;
  }
  #about .box .imgbox {
    width: 270px;
    height: 270px;
    border-radius: 100%;
    margin: 0 0 0 20px;
  }
  #about .box .diff {
    margin: 0 30px 0 0;
  }
  #about .val {
    transform: translate(-100px, 100px);
  }
  #about .yel {
    width: 270px;
    height: 270px;
    background-color: #ffc800;
    border-radius: 100%;
    padding: 46px;
    margin-left: 140px;
  }
  #about .yel h4 {
    font-size: 55px;
    font-weight: 700;
  }
}

#ourteam {
  padding: 100px 0;
  background-color: #f7f7f7;
}
#ourteam img {
  width: 100%;
}
#ourteam .box h1 {
  font-weight: 700;
  font-size: 50px;
}
#ourteam .box h4 {
  font-size: 18px;
  color: #7c7676;
  padding: 30px 0;
}
#ourteam .imgbox {
  width: 210px;
  height: 210px;
  border-radius: 100%;
  border: 7px solid #dedddd;
}
#ourteam .box1 {
  padding-left: 109px;
}
#ourteam .box1 .minibox {
  padding: 10px 100px 10px 0;
}
#ourteam .box1 .minibox h2 {
  font-weight: 600;
  font-size: 35px;
}
#ourteam .box1 .minibox h3 {
  color: #7c7676;
  font-size: 20px;
  padding: 10px 0 20px;
}
#ourteam .box1 .minibox .icon i {
  padding: 11px;
  font-size: 15px;
  width: 38px;
  height: 38px;
  background-color: #212529;
  color: white;
  border-radius: 100%;
  margin: 0 10px;
  cursor: pointer;
}
#ourteam .box3 {
  width: 885px;
  margin-left: 180px;
}
#ourteam .box3 p {
  color: #7c7676;
  font-size: 20px;
  padding: 42px 0;
}
@media screen and (max-width: 1024px) {
  #ourteam {
    width: 1225px;
  }
  #ourteam .box h1 {
    font-size: 55px;
  }
  #ourteam .box h4 {
    font-size: 23px;
    padding: 25px 0 30px;
  }
  #ourteam .imgbox {
    width: 270px;
    height: 270px;
    border: 8px solid #dedddd;
  }
  #ourteam .box1 {
    padding-left: 10px;
  }
  #ourteam .box1 .minibox {
    padding: 10px 45px 10px 0;
  }
  #ourteam .box1 .minibox h2 {
    font-size: 35px;
  }
  #ourteam .box1 .minibox h3 {
    font-size: 23px;
  }
  #ourteam .box1 .minibox .icon i {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  #ourteam .box3 {
    width: 885px;
    margin-left: 40px;
  }
  #ourteam .box3 p {
    font-size: 25px;
    padding: 42px 0;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  #ourteam {
    width: 1327px;
    height: 380vh;
  }
  #ourteam .box h1 {
    font-size: 75px;
  }
  #ourteam .box h4 {
    font-size: 28px;
    padding: 35px 0 100px;
  }
  #ourteam .imgbox {
    width: 370px;
    height: 370px;
  }
  #ourteam .box1 {
    padding-left: 100px;
    margin: 0 50px;
  }
  #ourteam .box1 .minibox {
    width: 460px;
    padding: 50px 0 70px;
  }
  #ourteam .box1 .minibox h2 {
    font-size: 45px;
  }
  #ourteam .box1 .minibox h3 {
    font-size: 33px;
    padding: 30px 0 40px;
  }
  #ourteam .box1 .minibox .icon i {
    padding: 14px;
    font-size: 35px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 20px;
  }
  #ourteam .box3 {
    width: 1100px;
    margin-left: -40px;
  }
  #ourteam .box3 p {
    font-size: 35px;
    padding: 42px 0;
    line-height: 1.3;
  }
}

#logo {
  padding: 100px 0 0;
}
#logo a img {
  width: 170px;
  height: 100px;
}
#logo .minibox img {
  width: 130px;
  height: 100px;
}
#logo .minibox1 img {
  width: 200px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  #logo {
    width: 1327px;
  }
}

#contactus {
  margin: 70px 0 0;
  background-image: url("A.Assets/map-image.png");
  background-color: #212529;
  height: 690px;
}
#contactus .textbox {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
  text-align: center;
}
#contactus .textbox h1 {
  font-size: 50px;
  color: white;
}
#contactus .textbox h4 {
  color: #8f9193;
  font-size: 20px;
}
#contactus .box {
  padding-top: 80px;
}
#contactus .box input {
  display: flex;
  align-items: center;
  width: 630px;
  height: 65px;
  margin-bottom: 30px;
}
#contactus .box2 {
  padding-top: 78px;
}
#contactus .box2 textarea {
  max-height: 260px;
  border-radius: 5px;
  cursor: initial;
}
#contactus .btn {
  width: 271px;
  height: 70px;
  background-color: #ffc800;
}
#contactus .btn h3 {
  font-size: 25px;
  color: white;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  #contactus {
    width: 1327px;
  }
}

header {
  position: fixed;
  background-color: #212529;
  padding: 15px 0;
  width: 100%;
  z-index: 2;
}
header .imgbox {
  width: 150px;
  margin-left: 50px;
}
header nav {
  display: flex;
}
header nav a {
  color: white;
  font-size: 20px;
  margin-right: 40px;
  cursor: default;
}
header nav a:hover {
  cursor: pointer;
  color: #edc01c;
}
header nav .icon {
  display: none;
  border: 2px solid rgba(255, 255, 255, 0.1019607843);
  padding: 15px;
  border-radius: 5px;
}
header nav .icon h1 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5490196078);
  padding-right: 10px;
}
header nav .icon i {
  font-size: 20px;
  align-items: center;
  padding-top: 2px;
  color: rgba(255, 255, 255, 0.5490196078);
}
@media screen and (max-width: 1024px) {
  header {
    padding: 20px 0;
  }
  header .imgbox {
    width: 200px;
  }
  header nav a {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 38px 0;
  }
  header .imgbox {
    width: 230px;
  }
  header nav a {
    display: none;
  }
  header nav .icon {
    display: flex;
    margin-right: 100px;
  }
}
@media screen and (max-width: 320px) {
  header {
    padding: 66px 0;
  }
  header .imgbox {
    width: 560px;
  }
  header nav a {
    display: none;
  }
  header nav .icon {
    display: flex;
    margin-right: 85px;
    border: 4px solid rgba(255, 255, 255, 0.1019607843);
    padding: 35px;
    border-radius: 5px;
  }
  header nav .icon h1 {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5490196078);
    padding-right: 20px;
    font-weight: 700;
  }
  header nav .icon i {
    font-size: 55px;
    align-items: center;
    padding-top: 2px;
    color: rgba(255, 255, 255, 0.5490196078);
  }
}

footer {
  padding: 30px 0 10px;
}
footer .box {
  margin: 0 140px;
}
footer .box .minibox h1, footer .box .minibox h2, footer .box .minibox h3 {
  font-size: 19px;
}
footer .box .minibox h2 {
  padding-right: 15px;
}
footer .box .minibox .icon i {
  padding: 13px;
  font-size: 15px;
  width: 38px;
  height: 38px;
  background-color: #212529;
  color: white;
  border-radius: 100px;
  margin: 0 10px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  footer {
    width: 1327px;
  }
}/*# sourceMappingURL=style.css.map */